@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculadora{
    display: flex;
    background-color: #c2c1c1;
    padding: 25px;
    border-radius: 5px;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #000;
}

.visor{
    background-color: #fff;
    border: 1px solid #000;
    width: 300px;
    height: 50px;
    font-size: 40px;
    text-align: right;
    padding: 0 5px;
    border-radius: 5px;
}

.teclado_grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: space-between;
    padding: 10px;
}

.botao{
    padding: 5px;
    font-size: 25px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    background-color: #5f5f5f;
    border-radius: 30%;
    border: 1px solid rgb(39, 39, 39);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.corrigir{
    color: rgb(255, 123, 123);
}

.operador{
    color: rgb(125, 252, 142);
}

.btn_resultado{
    background-color: rgb(75, 145, 72);
}